.키움 {
  background-color: #570514;
}

.두산 {
  background-color: #131230;
}

.롯데 {
  background-color: #041e42;
}

.삼성 {
  background-color: #074ca1;
}

.한화 {
  background-color: #ff6600;
}

.KIA {
  background-color: #ea0029;
}

.LG {
  background-color: #c30452;
}

.SSG {
  background-color: #ce0e2d;
}

.NC {
  background-color: #315288;
}

.KT {
  background-color: #000000;
}
